@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

html,body
{
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  font-family: 'Nunito Sans', sans-serif;
  height: 100%;
}
#Header
{
    margin:1px;
    height:fit-content;
    padding: 9px;
    background-color: #272643;
   
}
#Header ul{
    margin: 0;
    display: inline-block;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#Header ul li{
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 3px;
    border-bottom: 2px solid transparent;
}
#Header ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#Header ul li:hover{
    border-bottom: 2px solid red;
}
#Header ul li:active{
    border-bottom: 2px solid red;
}
#home-div
{
    height: 400px;
    padding: 40px;
}
#img,#home-content h2,span{
    display: inline;
}
#img img
{
    width: 200px;
    margin-left: 50px;
    border-radius: 50px;
}
#home-content{
    margin: 50px 30px 2px 30px;
    padding: 20px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}
#home-content h2 
{
    font-size: 30px;
    font-family: 'Nunito Sans', sans-serif;
    word-spacing: 5px;
    padding: 20px;

}
#home-content h2 span
{
    margin-left: 100px;
}





#about-div
{
    height: fit-content;
    padding: 30px;
}
#about-content h2{
    font-size: 23px;
}
#about-content p{
  font-size: 19px;
  line-height: 30px;
}
#about-content ul{
    font-size: 18px;
    line-height: 30px;
  }



#education-div
{
    height: fit-content;
    padding: 20px;
    
}
#edu{
    padding: 10px;
    border-top: 2px solid black;
}
#education-content
{
    margin: 10px auto;
    padding: 30px;
    width: fit-content;
    border: none;
}
#education-content h2{
    color: rgb(0, 137, 183);
    width: fit-content;
    
}
#education-content h3{
    color: black;
    margin-left: 20px;
    width: fit-content;
    font-weight: 200;
}


#project-div
{
    height: fit-content;
    padding: 20px;
    
}
#pro{
    padding: 10px;
    border-top: 2px solid black;
}
#projet-content
{
    margin: 10px auto;
    padding: 30px;
    width: fit-content;
    border: none;
}
#project-content h2{
    color: rgb(0, 137, 183);
    width: fit-content;
    
}
#project-content h3{
    color: black;
    margin-left: 20px;
    width: fit-content;
    font-weight: 200;
}


#footer
{
    height: fit-content;
    padding: 10px;
    background-color: #272643;
    display: flex;
    justify-content: center;
}
#footer h2
{
    display: inline;
    width: fit-content;
    line-height: 5px;
    margin-right: 40px;
    color: white;
}
#footer a img
{
 width: 30px;
 margin-right: 40px;
 background-color: white;
 padding: 5px;
 border-radius: 10px;
}
#footer a img:hover
{
 box-shadow: 1px 1px 10px 2px rgb(245, 245, 245);
}