@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap");

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  font-family: "Nunito Sans", sans-serif;
  height: 100%;
}
#header-outer{
  width: 100%;
  display: flex;
  justify-content: center;
}
#Header {
  width: fit-content;
  padding: 10px;
  background-color: #19182e;
  position: fixed;
  border-radius: 20px;
  margin-top: 5px;
}
#Header ul {
  margin: 0;
  display: inline-block;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 50px;
  padding-right: 50px;
}
#Header ul li {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  padding: 3px;
  border-bottom: 2px solid transparent;
}
#Header ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
}
#Header ul li:hover {
  border-bottom: 2px solid red;
}
#Header ul li:active {
  border-bottom: 2px solid red;
}
#home-div {
  height: 400px;
  padding: 40px;
}
#img,
#home-content h2,
span {
  display: inline;
}
#img img {
  width: 200px;
  border-radius: 50px;
}
#home-content {
  margin-top: 100px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#home-content h2 {
  font-size: 30px;
  font-family: "Nunito Sans", sans-serif;
  word-spacing: 5px;
  padding: 20px;
  margin-left: 50px;
  text-align: center;
}
#home-content h2 span {
  color: #19183b;
}

.outer-div {
  height: fit-content;
  padding: 30px;
}

#about-content h2 {
  font-size: 23px;
}
#about-content p {
  font-size: 19px;
  line-height: 30px;
  text-indent: 50px;
}
#about-content ul {
  font-size: 18px;
  line-height: 30px;
}

#skills-content h2 {
  font-size: 23px;
}
#skills-content ul {
  font-size: 19px;
  line-height: 35px;
  font-weight: bold;
}

#edu {
  padding: 10px;
  border-top: 2px solid black;
}
#education-content {
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
}
#education-content .educards {
  width: fit-content;
  padding: 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  border: 2px solid black;
  cursor: pointer;
}
.educards:hover{
  box-shadow: 0px 0px 4px 1px black;
}
.educards h3 {
  font-weight: 500;
}
#pro {
  padding: 10px;
  border-top: 2px solid black;
}
#projet-content {
  margin: 10px auto;
  padding: 30px;
  width: fit-content;
  border: none;
}

#footer {
  height: fit-content;
  padding: 10px;
  background-color: #272643;
  display: flex;
  justify-content: center;
}
#footer h2 {
  display: inline;
  width: fit-content;
  line-height: 5px;
  margin-right: 40px;
  color: white;
}
#footer a img {
  width: 30px;
  margin-right: 40px;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
}
#footer a img:hover {
  box-shadow: 1px 1px 10px 2px rgb(245, 245, 245);
}

#Achivements{
  padding: 10px;
  margin: 30px;
  border-top: 2px solid black;
}

.achivement-cards{
  width: 95%;
  font-size: 19px;
  padding: 20px;
  padding-left: 50px;
  background-color: #171639;
  border-radius: 20px;
  color: white;
  margin-top: 20px;
  cursor: pointer;
}

.achivement-cards-links{
  float: right;
  margin-right: 20px;
  font-size: 17px;
  text-decoration: none;
  color: white;
}
.achivement-cards-links:hover{
  cursor: pointer;
   border-bottom: 1px solid red;
}

#skills-slider{
  height:140px;
  padding: 20px;
}
#skills-flex{
  height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#skills-flex div{
  text-align: center;
  cursor: pointer;
}
#skills-flex div img{
  height: 80px;
}
#skills-flex div h2{
  font-size: 17px;
}